*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    --bs:#AECFFF;
}

body{
    background:lightblue;
    display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
    padding: 0 16px;

}
.container {
    max-width: 500px;
    width: 100%;
    position: relative;
  
}
.title{

  font-size: x-large;
  margin-bottom: 20px;
  font-weight: bold;
}

form{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background: white;
    position: absolute;
    top: 50%;
    opacity: 0;
    transform: translateY(-50%) scale(.8);
    z-index:100;
    transition: all .6s ease;
    transition-delay: 0s

}
form.active{
    transform: translateY(-50%);
    opacity: 1;
    z-index: 200;
    transition-delay: .6s;

}

form .form-group{
    margin-bottom: 14px;
}
form .form-group label{
    display: inline-block;
    margin-bottom: 5px;
}
form .input-group{
    width: 100%;
    position: relative;

}

.form-group .fade-text{
    font-size: medium;
    font-weight: 200;
    color: rgb(14, 141, 25);

}


.input-group input{
    padding: 12px 40px 12px 20px;
    outline: none;
    border-radius: 10px;
    width: 100%;
    border:  1px solid darkgrey; 
    transition: all .6s ease;
}
/* FORM VALIDATION */
.input-group input:focus,
.input-group input:not(:placeholder-shown){
    border-color: blue;
    background: grey;
}
.input-group input:focus:valid {
    box-shadow: 0 0 0 4px lightgreen;
}
.input-group input:valid:not(:placeholder-shown){
    border-color: green;
}
.input-group input:invalid:not(:placeholder-shown){
    border-color: rgb(221, 16, 16);
}
.input-group input:focus:invalid {
    box-shadow: 0 0 0 4px #db7d7d;
}
.input-group input:focus,
.input-group input:focus:placeholder-shown {
	box-shadow: 0 0 0 4px var(--bs);
}

.btn-submit{
    padding: 12px ;
    display: block;
    width: 100%;
    color: #fff;
    cursor: pointer;
    border: 0.5px;
    border-radius: 10px;
    background: blue;
    font-weight: bold;
    margin-bottom: 10px;

}
.btn-submit:hover{
    background: darkblue;
}

a{

    transition: 6s ease;
}
a:hover{
    color: darkblue;
}
